@model List<HomeModel.OrdemServico>

@{
    ViewData["Title"] = "Inicio";
}

@{
    DateTime dataAtual = DateTime.Now;

}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .header {
            background-color: #800000;
            color: white;
            text-align: center;
            font-style: Arial;
            font-size: 20px;
        }

        .conteudo {
            text-align: center;
            font-style: Arial;
            text-align: center;
            font-weight: bold;
        }
    </style>
</head>
<body>

    <div class="text-center">
        <h1>Buscar orçamento</h1>
    </div>
    <form class="form-inline" asp-controller="Home" asp-action="BuscarOrcamento" method="post">
        <div class="container mt-4">
            <div class="row">
                <label name="Orcamento" id="Orcamento" class="col-sm-1 col-form-label"><strong>Orcamento</strong></label>
                <div class="col-md-8">
                    <input type="text" name="Orcamento" id="Orcamento" class="form-control" placeholder="Digite sua pesquisa aqui">
                </div>
                <div class="col-md-3">
                    <button type="submit" class="btn btn-primary  w-100  btn-block">Pesquisar</button>
                </div>
            </div>
        </div>
    </form>
    <br />

    <table class="table table-bordered border-secondary tabela-estreita">
        <tbody>

            @if (Model != null)
            {
                //verificando se existe algo no banco
            <thead>
                <tr class="header">
                    <th>OS</th>
                    <th>Orçamento</th>
                    <th>Item</th>
                    <th>Iniciar Coleta</th>
                </tr>
            </thead>
                @for (var i = 0; i < Model.Count; i++)
                //contagem do meu for se retornad algo do banco.
                {
                    //int teste = i + 1;
                    var resultado = Model[i];

                <tr class="conteudo">
                    <td class="col">@($"{resultado.codigo}{resultado.mes}{resultado.ano}")</td>
                    <td class="col">@resultado.orcamento</td>
                    <td class="col"> @resultado.item  </td>
                    <td style="width:300px;">
                        <a role="button" class="btn btn-success" asp-controller="Coleta" asp-action="Index" asp-route-os="@($"{resultado.codigo}{resultado.mes}{resultado.ano}")" asp-route-orcamento="@($"{resultado.orcamento}")" asp-route-rev="@($"{resultado.Rev}")">Começar Coleta</a>

                    </td>
                </tr>
                }
            }
        </tbody>
    </table>

</body>
</html>
@section Scripts {
    @if (TempData.ContainsKey("Mensagem"))
    {
        <script>

            alert('@Html.Raw(TempData["Mensagem"])');
        </script>
    }
}



